.action-bar {
  display: flex;
  align-items: center;
  height: 43px;
  border-bottom: 1px solid #e6e8eb;
}
.bar-title {
  padding: 0 0 0 20px;
  font-weight: bold;
  font-size: 15px;
  width: 150px;
}


